<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Botones Sociales Animados</title>
  <link rel="stylesheet" href="css/redessociales.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
  <div class="example-2">
    <ul>
        <li class="icon-content">
        <span class="tooltip">Facebook</span>
        <a href="#" data-social="facebook">
            <i class="bx bxl-facebook"></i>
            <span class="filled"></span>
        </a>
        </li>

      <li class="icon-content">
        <span class="tooltip">LinkedIn</span>
        <a href="#" data-social="linkedin">
          <i class="bx bxl-linkedin"></i>
          <span class="filled"></span>
        </a>
      </li>
      <li class="icon-content">
        <span class="tooltip">GitHub</span>
        <a href="#" data-social="github">
          <i class="bx bxl-github"></i>
          <span class="filled"></span>
        </a>
      </li>
      <li class="icon-content">
        <span class="tooltip">Instagram</span>
        <a href="#" data-social="instagram">
          <i class="bx bxl-instagram"></i>
          <span class="filled"></span>
        </a>
      </li>
      <li class="icon-content">
        <span class="tooltip">YouTube</span>
        <a href="#" data-social="youtube">
          <i class="bx bxl-youtube"></i>
          <span class="filled"></span>
        </a>
      </li>
      <li class="icon-content">
        <span class="tooltip">Telegram</span>
        <a href="#" data-social="telegram">
          <i class="bx bxl-telegram"></i>
          <span class="filled"></span>
        </a>
      </li>
      <li class="icon-content">
        <span class="tooltip">WhatsApp</span>
        <a href="#" data-social="whatsapp">
          <i class="bx bxl-whatsapp"></i>
          <span class="filled"></span>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>
